.relogio {
  border-top: 1px solid var(--c5);
}

.relogio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.relogio-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
  /* align-items: center; */
}

.relogio-conteudo p,
.relogio-conteudo h2 {
  grid-column: 1/-1;
}

.relogio-conteudo h2 {
  margin-bottom: 20px;
}

.relogio-conteudo p {
  margin-bottom: 32px;
}

.relogio-conteudo li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.relogio-conteudo li + li {
  margin-top: 10px;
}

.relogio-conteudo a {
  place-self: end;
}

@media (max-width: 850px) {
  .titulo {
    text-align: center;
  }

  .relogio {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .relogios-img {
    width: 80%;
    justify-self: center;
  }
}

@media (max-width: 600px) {
  .relogios-img {
    width: 100%;
  }

  .relogio-conteudo h2 {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .relogio-conteudo {
    display: grid;
    grid-template-columns: 1fr;
  }

  .relogio-conteudo ul {
    margin-bottom: 20px;
    justify-content: center;
  }

  .relogio-conteudo a {
    place-self: center;
    text-align: center;
  }

  .relogio-conteudo p {
    margin-bottom: 20px;
  }
}
