:root{
  --fonte-principal: "roboto", sans-serif;
  --fonte-secundaria: "poppins", sans-serif;

  --w: #FFFFFF;
  --p1:#FFBFCB;
  --p2:#D598A4;
  --p3:#AB717D;
  --p4:#804A57;
  --p5:#562330;


  --c4:#AEAEAE;
  --c10:#272727;
  --c10: #212121;
  --c11:#141414;
  --c12:#000000;
}