.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--p1);
  max-width: 1700px;
  justify-items: center;
  margin: auto auto;
  overflow: hidden;
}

.depoimento img {
  height: 100%;
  object-fit: cover;
}

.depoimento-conteudo {
  /* justify-content: center; */
  align-self: center;
  padding: 40px;
}

.depoimento p {
  font-family: var(--fonte-citacao);
  font-weight: 400;
  margin-bottom: 0px;
  text-align: center;
  position: relative;
  max-width: 32ch;
}

.depoimento-conteudo span {
  align-self: center;
}

.depoimento p::before,
.depoimento p::after {
  display: inline-block;
  font-size: 5rem;
  color: var(--p2);
  position: absolute;
}

.depoimento p::before {
  content: "“";
  left: -30px;
  top: -30px;
}

.depoimento p::after {
  content: "”";
  right: -30px;
  bottom: -80px;
}

@media (max-width: 850px) {
  .depoimento {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 650px) {
  .depoimento {
    grid-template-columns: 1fr;
  }

  .depoimento img {
    display: none;
  }
}
