.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--p1);
  max-width: 1700px;
  justify-items: center;
  margin: auto auto;
  overflow: hidden;
}

.depoimento img {
  height: 100%;
  object-fit: cover;
}

.depoimento-conteudo {
  /* justify-content: center; */
  align-self: center;
  padding: 40px;
  padding-top: 81px;
}

.depoimento p {
  font-family: var(--fonte-citacao);
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  max-width: 32ch;
}

.depoimento-conteudo span {
  align-self: center;
}

@media (max-width: 850px) {
  .depoimento {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 650px) {
  .depoimento {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 550px) {
  .depoimento-conteudo {
    align-self: center;
    padding: 61px 40px 20px 40px;
  }
}
