.botao {
  display: inline-block;
  color: var(--c12);
  background: var(--gr);
  border-radius: 5px;
  padding: 12px 20px;
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: none;
  cursor: pointer;
}

.botao:hover {
  background: linear-gradient(#ffbfcb, #f09eae 28%, #d88596 58%);
}

.botao.secundario {
  color: var(--w);
  background: var(--gb);
}

.botao.secundario:hover {
  background: linear-gradient(#606060 100%, #474747);
}

.font-gr {
  background-image: var(--gr);
  background-clip: text; /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
  -webkit-text-fill-color: transparent; /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  color: var(--p1);
}

.font-gg {
  background-image: var(--gg);
  background-clip: text; /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
  -webkit-text-fill-color: transparent; /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  color: var(--c6);
}

@media (max-width: 550px) {
  .botao {
    font-size: 0.8rem;
    padding: 10px 18px;
  }
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container-vazado {
  padding: 0 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.tecnologia img {
  width: auto;
  height: auto;
}

.link {
  display: inline-block;
  color: var(--p1);
  border-bottom: 2px solid;
  background-color: linear-gradient(#ffbfcb, #f09eae 28%, #d88596 58%);
  padding-bottom: 4px;
  max-width: max-content;
}

.link:hover {
  color: var(--w);
}

.introducao-bg video {
  max-width: 100%;
}

/* titulos internos */
.titulo-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--c11);
}

.titulo p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}

.up {
  text-transform: uppercase;
}
