.seguros-bg {
  background: var(--c11);
}

.seguros {
  padding-top: 50px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.seguros h2 {
  grid-column: 1/-1;
}

.seguros-item {
  background-color: var(--c12);
  padding: 32px 32px 32px 60px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.seguros-item h3 {
  margin-bottom: 40px;
}

.seguros-item span {
  grid-column: 2;
  display: block;
  text-align: right;
}

.seguros-item ul {
  grid-column: 1/-1;
  margin-bottom: 32px;
}

.seguros-item li {
  /* grid-column: 1/-1; */
  align-items: center;
  position: relative;
}

.seguros-item li + li {
  margin-top: 15px;
}

.seguros-item a {
  grid-column: 1/-1;
  justify-self: flex-start;
}

.seguros-item li::before {
  display: inline-block;
  content: "";
  background-image: url(/icons/list.svg);
  width: 13px;
  height: 9px;
  position: absolute;
  left: -21px;
  top: 7px;
}

@media (max-width: 850px) {
  .seguros {
    grid-template-columns: 1fr;
    /* justify-items: center; */
  }

  .seguros {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .seguros h2 {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .seguros a {
    justify-self: center;
  }
}
